* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-size: 16px;
    font-family: 'Roboto Mono', sans-serif;
}

.wrapper {
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.header__heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Special Elite', cursive;
    font-weight: 800;
}

.content {
    display: flex;
    flex-direction: column;
}

.content__logo {
    margin: 12%;
}

.content__image {
    max-width: 100%;
}

.content__heading {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 26px;
}

.content__paragraph {
    margin-bottom: 70px;
}

.btn {
    width: 200px;
    height: 60px;
    border-style: none;
    background-color: #000;
    color: #fff;
    font-family: inherit;
    text-transform: uppercase;
}

.content__footer {
    margin-top: 100px;
    align-self: center;

}