* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-size: 16px;
    font-family: 'Space Mono', sans-serif;
}

.wrapper {
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.header__heading {
    font-family: Inconsolata;
    text-transform: uppercase;
    letter-spacing: -0.08em;
    font-size: 24px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content__logo {
    margin: 12%;
}

.content__image {
    max-width: 100%;
}

.content__heading {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 29px;
}

.content__paragraph {
    font-size: 18px;
    margin-bottom: 67px;
}

.btn {
    width: 200px;
    height: 60px;
    border-style: none;
    background-color: #000;
    color: #fff;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 14px;
}

.content__footer {
    margin-top: 96px;
    align-self: center;
    font-size: 14px;
}

@media only screen and (min-width: 1024px) {}