* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-size: 16px;
    font-family: 'Space Mono', sans-serif;


}

.wrapper {
    margin: 4% 4%;
    display: flex;
    flex-direction: column;
}

.header__heading {
    font-family: Inconsolata;
    text-transform: uppercase;
    letter-spacing: -0.08em;
    font-size: 24px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content__logo {
    margin: 12%;
}

.content__image {
    max-width: 100%;
}

.content__heading {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 29px;
    letter-spacing: -0.035em;
    color: #333333;
}

.content__paragraph {
    font-size: 18px;
    margin-bottom: 67px;
    letter-spacing: -0.035em;
    line-height: 36px;
    color: #4F4F4F;
}

.btn {
    width: 200px;
    height: 60px;
    border-style: none;
    background-color: #000;
    color: #fff;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 14px;
}

.content__footer {
    margin-top: 96px;
    align-self: center;
    font-size: 14px;
}

@media only screen and (min-width: 1024px) {
    /* .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 1fr 1fr;
    }

    .content__heading {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .content__paragraph {
        grid-column: 2/3;
        grid-row: 1/2;
    } */

    .wrapper {
        max-width: 1600px;
        /* margin: 2em auto; */
    }

    .content {
        flex-direction: row;
        align-items: center;
    }

    .content__heading {
        font-size: 64px;
        line-height: 95px;
    }

    .content__paragraph {
        max-width: 65%;
    }
}

@media only screen and (min-width: 1600px) {
    .wrapper {
        margin: 2em 8%;
    }
}